<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="BasicHttpBinding_ISessionService">
                <security mode="TransportCredentialOnly">
                  <transport clientCredentialType="Ntlm" />
                </security>
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55152/SessionService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISessionService"
                contract="SessionServiceReference.ISessionService" name="BasicHttpBinding_ISessionService" />
        </client>
    </system.serviceModel>
</configuration>